[profile.default]
src = "src"
out = "out"
libs = ["node_modules", "lib"]

include_paths=["packages/**"]

# The optimizer is the key here
optimizer = true
optimizer_runs = 99999 # Lowering this number reduces deployment size
