[profile.default]
src = "src"
out = "out"
libs = ["node_modules", "lib", "packages/core/node_modules", "packages/periphery/node_modules"]


# The optimizer is the key here
optimizer = true
optimizer_runs = 99999 # Lowering this number reduces deployment size
